<div class="container">
  <form method="get" action="/users/:user_id">
    <input type="submit" value="User Profile">
  </form>
  <h1><%= @album.album_name %></h1>
  <% @images.each do |x| %>
      <img class="thumb_nail" src="../../<%= x.image_file %>" id="image-no<%= x.id %>" data-image-no="<%= x.id %>">

  <% end %>


</div>
<form>
<input type="hidden" id="user-session" value="<%= session[:user_id] %>">
</form>
